h1 {margin: 10px 5px 15px 20px;
    font-size: 40px;}
h2 {font-size: 30px;
    margin-bottom: 30px;}
p {font-size: 18px;
   line-height: 30px;}
.form-group {font-size: 16px;}
nav {font-size: 16px;}
#button-t {margin:10px 10px 10 px 10px;
        font-size: 16px;}
#user_text {margin-bottom: 20px;}
.btn {margin-top: 10px;
      margin-left: 5px;}

.checkbox {font-size: 16px;}
#methods {font-size: 16px;}
.form-control {font-size: 16px;}

.inline {
    display:inline-block;
    margin-right:5px;
    margin-left: 10px;
 }

.lead {font-size: 16px;}