{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static "node_modules/patternfly/dist/css/patternfly.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "node_modules/patternfly/dist/css/patternfly-additions.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "styles.css" %}">
    <title>About</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <h1>Popular Science Text Analysis Service</h1>
         </div>
         <div class="row">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                      <ul class="nav navbar-nav">
                        <li><a href="./">Home</a></li>
                        <li class="active"><a href="#">About the project</a></li>
                        <li><a href="documentation">API Documentation</a></li>
                        <li><a href="contact">Contact</a></li>
                      </ul>
                    </div>
                  </nav>
            </div>
            <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <h2>О проекте</h2>
                        <p>Анализатор разработан в рамках проекта по исследованию научно-популярных текстов
                            на русском языке с использованием методов компьютерной лингвистики.
                        </p>
                        <p>
                            Анализатор включает в себя четыре модуля.
                        </p>
                        <h3><b>Извлечение научных терминов</b></h3>
                        <p>Извлечение терминов
                        </p>
                        <h3><b>Извлечение имен ученых</b></h3>
                        <p>
                        Модуль позволяет выделить из текста имена известных ученых. Благодаря этим данным можно оценить частоту упоминаний исследователей в научно-популярных текстах. Модуль основан на контекстно свободной грамматике <a href="https://tech.yandex.ru/tomita/">Томита-парсер</a>.
                      </p>
                        <h3><b>Определение тематики текста</b></h3>
                        <p>Модуль использует методы классификации для определения научной
                            области, к которой относится текст. 
                        </p>

                        <h3><b>Оценка уровня сложности текста (ридабилити)</b></h3>
                            <p>Модуль для оценки ридабилити позволяет определить сложность текста по различным метрикам,
                            а также получить различные статистические признаки. Всего модуль считает три типа признаков.</p>
                            <ol>

                            <li><p><b>Традиционные метрики ридабилити</b> — адаптированные для русского языка критерии оценки
                                сложности текстов. Мы взяли наиболее известные: <a href="https://en.wikipedia.org/wiki/Flesch%E2%80%93Kincaid_readability_tests">индекс удобочитаемости Флеша</a>,
                                <a href="https://en.wikipedia.org/wiki/Flesch%E2%80%93Kincaid_readability_tests">степень Флеша-Кинкайда</a>,
                                <a href="https://en.wikipedia.org/wiki/SMOG">индекс SMOG</a>, <a href="https://en.wikipedia.org/wiki/Coleman%E2%80%93Liau_index">индекс Колимана-Лиау</a>,
                                <a href="https://en.wikipedia.org/wiki/Dale%E2%80%93Chall_readability_formula">индекс Дэйл-Челла</a>,
                                <a href="https://en.wikipedia.org/wiki/Gunning_fog_index">индекс Ганнинга-Фога</a>. Чтобы интерпретировать результаты метрик,
                                нужно иметь в виду, что индекс Флеша возвращает число от 0 до 100, и чем оно меньше, тем сложнее текст. То есть очень
                                простой текст получит оценку примерно 60-70, а очень сложный — 10-20. Все остальные работают наоборот: чем число больше,
                                тем текст сложнее. Так при разработке этих метрик авторы опирались на потребности школьного образования, полученное
                                число соответствует классам американской школы, а степени 13-17 соответственно намекают, что для понимания текста
                                необходимо иметь высшее образование. Для рассчета этих метрик используются такие показатели как средняя длина слова,
                                среднее количество слогов в слове, средняя длина предложений в тексте, и т.п. </p></li>

                                <li><p><b>Частеречный анализ</b> — текст лемматизируется и словам присваиваются  морфологические теги.
                                    На основании этих данных высчитывается доля каждой части речи в тексте (сколько глаголов, сколько
                                    существительных, и т.д.) </p></li>
                                <li><p><b>Словарный анализ</b>  — текст лемматизируется и сравнивается со списками слов: наиболее общих слов русского языка,
                                    разговорных слов и “грубых” слов. Результат — доля слов каждого типа в тексте. Например, список общих слов может
                                    покрывать до 80% текста. Если их сильно меньше, текст можно считать сложным. </p></li>
                            </ol>
<p>Репозиторий проекта доступен по <a href="https://github.com/ana-kuznetsova/Popular-Science-Texts-Compling-research/">ссылке</a>.</p>

                    </div>
                </div>
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="col-12 col-md" align="center">
              <small class="d-block mb-3 text-muted">&copy; 2018 <a href="https://linghub.ru/">HSE School of Linguistics</a></small>


            </div>
        </footer>
</body>
<script src="{% static "node_modules/jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "node_modules/bootstrap/dist/js/bootstrap.min.js" %}"></script>
<script src="{% static "main.js" %}"></script>
</html>
