{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Popular Science Compling Research</title>
    <link rel="stylesheet" type="text/css" href="{% static "node_modules/patternfly/dist/css/patternfly.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "node_modules/patternfly/dist/css/patternfly-additions.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "styles.css" %}">
  </head>
  <body>
      <div class="container-fluid">
          <div class="row">
            <h1>Анализатор Научно-Популярных Текстов</h1>

          </div>
          <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Главная</a></li>
                    <li><a href="about">О проекте</a></li>
                    <li><a href="documentation">Документация</a></li>
                    <li><a href="contact">Контакты</a></li>
                  </ul>
                </div>
              </nav>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-8">
              <h2>Что умеет анализатор?</h2>
              <p>Анализатор разработан для обработки научно-популярных текстов на русском языке. 
                С его помощью можно извлечь из текстов имена ученых, научные термины, 
                опредилить тематику текстов и вывести метрики ридабилити для оценки уровня сложности текста. 
              </p>
              <p style="margin-bottom: 40px;">
                Для обработки текста нажмите на кнопку <b>Ввести текст</b> 
                или загрузите текст из файла с помощью кнопки <b>Загрузить файл</b>. 
              </p>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-1 inline" id="upload_file">
              {% block content %}
              {% endblock %}
          </div>
          <div class="col-sm-1 inline" id="type_in">
              {% block window %}
              {% endblock %}
          </div>
        </div>

  
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="col-12 col-md" align="center">
              <small class="d-block mb-3 text-muted">&copy; 2018 <a href="https://linghub.ru/">HSE School of Linguistics</a></small>        
  
  
            </div>
        </footer>

  </body>
  <script src="{% static "node_modules/jquery/dist/jquery.min.js" %}"></script>
  <script src="{% static "node_modules/bootstrap/dist/js/bootstrap.min.js" %}"></script>
  <script src="{% static "main.js" %}"></script>
</html>
