{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Popular Science Compling Research</title>
    <link rel="stylesheet" type="text/css" href="{% static "node_modules/patternfly/dist/css/patternfly.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "node_modules/patternfly/dist/css/patternfly-additions.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "styles.css" %}">
  </head>
  <body>
      <div class="container-fluid">
          <div class="row">
            <h1>Popular Science Text Analysis Service</h1>

          </div>
          <div class="row">
              <nav class="navbar navbar-default">
                  <div class="container-fluid">
                    <ul class="nav navbar-nav">
                      <li class="active"><a href="#">Home</a></li>
                      <li><a href="about">About the project</a></li>
                      <li><a href="documentation">API Documentation</a></li>
                      <li><a href="contact">Contact</a></li>
                    </ul>
                  </div>
                </nav>
          </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-8">
              <h2>Text processing HOW TO</h2>
              <p>This service is designed specifically for popular science texts in Russian. 
                It implements four methods for textual analysis: named entity recognition which extracts
                scholars' names from the text, term extraction, text classification which assigns rubrics for the text
                and readability metrics to define text complexity.
              </p>
              <p style="margin-bottom: 40px;">
                To process a single text, copy your text to the text area, if you wish to process more
                use <b>Upload Files</b> button. 
              </p>
            </div>
        </div>
                    <div id="process_text" class="inline">
                        {% include "methods.html" %}
                    </div>
                    <div id="upload_file" class="inline">
                      {% block content %}
                      {% endblock %}
                    </div>
                </div>
              </div>
            <div class="col-sm-3">
            </div>
    </div>
  
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="col-12 col-md" align="center">
              <img class="mb-2" src="{% static "../../assets/brand/bootstrap-solid.svg" %}" alt="" width="24" height="24">
              <small class="d-block mb-3 text-muted">&copy; 2018 <a href="https://linghub.ru/">HSE School of Linguistics</a></small>        
  
  
            </div>
        </footer>

  </body>
  <script src="{% static "node_modules/jquery/dist/jquery.min.js" %}"></script>
  <script src="{% static "node_modules/bootstrap/dist/js/bootstrap.min.js" %}"></script>
  <script src="{% static "main.js" %}"></script>
</html>
