<div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <label id="methods">Select methods</label>
                <div class="checkbox">
                    <label><input id="ner" type="checkbox" value="">Named Entities</label>
                  </div>
                  <div class="checkbox">
                    <label><input id="term_extraction" type="checkbox" value="">Term Extraction</label>
                  </div>
                  <div class="checkbox">
                    <label><input id="text_classification" type="checkbox" value="">Text classification</label>
                  </div> 
                  <div class="checkbox">
                      <label><input id="readability" type="checkbox" value="">Readability</label>
                  </div> 
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label id="user_text" for="user_text">Insert your text here</label>
                    <textarea class="form-control" rows="4" id="comment"></textarea>