{% extends 'base.html' %}

{% block content %}
{% if form_upload %}
<form method=post enctype=multipart/form-data>
  {% csrf_token %}
  {{ form_upload }}
  <button type="submit" class="btn btn-lg btn-primary">Обработать файл</button>
</form>
{% else %}
<div class="row">
  <div class="col-sm-8">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  </div>
</div>


<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
      <table>
        <div class="api-result">
        </div>
      </table>
  </div>
  <div class="col-sm-1"></div>
</div>

<div class="col-sm-1"></div>
  <div class="col-sm-5">
      <a href="type_in" class="btn btn-primary active btn-lg inline" >Ввести другой текст</a></p>
  </div>
  <div class="col-sm-3">
      <a href="upload" class="btn btn-primary active btn-lg inline" >Загрузить новый файл</a></p>
  </div>
</div>

{% endif %}
{% endblock %}

{% block window %}
{% if form_text %}
<form method=post enctype=multipart/form-data>
  {% csrf_token %}
  {{ form_text }}
  <button type="submit" class="btn btn-lg btn-primary">Обработать</button>
</form>

{% endif %}
{% endblock %}