{% extends 'base.html' %}

{% block content %}
{% if form_upload %}
<form method=post enctype=multipart/form-data>
  {% csrf_token %}
  {{ form_upload }}
  <button type="submit" class="btn btn-lg btn-primary">Обработать файл</button>
</form>
{% else %}
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-8">
      <h3 class="display-4">Завершено</h3>
      <table>
        <tr>
          <th>Результат</th>
        </tr>
        <tr>
          <td class="raw"></td>
        </tr>
      </table>
  </div>
  <div class="col-sm-3"></div>
</div>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-3">
      <a href="type_in" class="btn btn-primary active btn-lg inline" >Ввести другой текст</a></p>
  </div>
  <div class="col-sm-3">
      <a href="upload" class="btn btn-primary active btn-lg inline" >Загрузить новый файл</a></p>
  </div>
</div>

{% endif %}
{% endblock %}

{% block window %}
{% if form_text %}
<form method=post enctype=multipart/form-data>
  {% csrf_token %}
  {{ form_text }}
  <button type="submit" class="btn btn-lg btn-primary">Обработать</button>
</form>
<!--{% else %}-->
<!--<h3 class="display-4">None</h3>-->
<!--<p class="lead"></p>-->
<!--<pre class="raw"></pre>-->
{% endif %}
{% endblock %}