<form method="post" action="http://hse-api-web/upload">
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <label id="methods">Select methods</label>
            <div class="checkbox">
                {{ form.ner }} <label for="{{ form.ner.id_for_label }}">Named Entities</label> 
            </div> 
            <div class="checkbox">
                {{ form.term_extraction }} <label for="{{ form.term_extraction.id_for_label }}">Term extraction</label> 
            </div>
            <div class="checkbox">
                {{ form.text_classification }} <label for="{{ form.text_classification.id_for_label }}">Text classification</label> 
            </div>
            <div class="checkbox">   
                {{ form.readability }} <label for="{{ form.readability.id_for_label }}">Readability</label> 
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label id="user_text" for="user_text">Insert your text here</label>
                {{ form.text }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-6">
            <button type="submit">Process</button>
        </div>
    </div>
</form>