{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static "node_modules/patternfly/dist/css/patternfly.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "node_modules/patternfly/dist/css/patternfly-additions.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "styles.css" %}">
    <title>Research</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <h1>Анализатор Научно-Популярных Текстов</h1>
         </div>
         <div class="row">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                      <ul class="nav navbar-nav">
                        <li><a href="./">Главная</a></li>
                        <li><a href="about">О проекте</a></li>
                        <li class="active"><a href="#">Исследование</a></li>
                        <li><a href="documentation">Документация</a></li>
                        <li><a href="contact">Контакты</a></li>
                      </ul>
                    </div>
                  </nav>
            </div>
            <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <h2>Исследование</h2>
                        <p>Цель исследования — проанализировать корпус научно-популярных текстов на
                            русском языке при помощи актуальных инструментов компьютерной лингвистики.
                        </p>
                        <p>
                            Мы выбрали четыре направления для исследования: извлечение терминов, извлечение имен ученых, анализ текстовой близости и оценка сложности текстов.
                        </p>
                        <h3><b>Извлечение научных терминов</b></h3>
                        <p>Задача состояла в извлечении терминов, встречающихся в научно-популярных
                            текстах, и составлении словаря на основе извлеченных понятий. Наличие такого
                            словаря позволяет увидеть, о чем чаще всего говорят в научно-популярных
                            текстах, и оценить частоту встречаемости сложных терминов — это может стать
                            важной характеристикой “популяризаторского” стиля, отличающего его от
                            академического или публицистического.
                        </p>
                        <p>
                            Анализ частотности извлеченных терминов показал, что в научно-популярных текстах наиболее часто встречаются слова, легко
                            понимаемые почти любым носителем языка, а узкоспецифичные термины используются
                            достаточно редко. Помимо
                            этого можно сказать об очень высокой степени взаимопроникновения различных
                            областей знания и, как следствие, большого количества междисциплинарных текстов и
                            общих терминов в них. 
                            По числу терминов выделяются рубрики <i>Физика</i> и <i>Химия</i>, в которых наполненность
                            узкоспецифическими терминами значительно выше, чем в других рубриках (​<i>электрон</i>,
                            <i>нейтрино</i>, <i>кварк</i>, <i>антиматерия</i>, <i>фермент</i>,
                            <i>катализатор</i>, <i>аминокислота</i>). Это объясняется спецификой объектов
                            исследования этих научных отраслей, без упоминания которых не обойтись даже в
                            доступном научно-популярном тексте.
                        </p>
                        <p>
                            Словарь терминов доступен по <a href="https://github.com/ana-kuznetsova/Popular-Science-Texts-Compling-research/tree/master/term_extraxtion/terms_sorted">ссылке</a>.
                        </p>
                        <h3><b>Извлечение имен ученых</b></h3>
                        <p>
                            Поиск и извлечение именованных сущностей-имен ученых позволяет
                            составить список наиболее часто цитируемых и упоминаемых ученых в
                            научно-популярной среде и понять степень значимости таких упоминаний для
                            текстов научно-популярного жанра.
                        </p>
                        <p>
                            В ходе исследования мы получили следующее распределение имен ученых по
                            жанрам и рубрикам: оказалось, что в блогах имена ученых употребляются больше, чем
                            в лекциях. Больше всего имен упоминается в текстах, принадлежащих рубрикам
                            <i>Физика</i>, <i>Экономика</i>, <i>Язык</i>, <i>Общее</i>. В число наиболее 
                            упоминаемых ученых среди всех текстов вошли <i>Аристотель</i>, <i>Альберт Эйнштейн</i>, 
                            <i>Платон</i>, <i>Рене Декарт</i>, <i>Чарльз Дарвин</i>, <i>Фридрих Ницше</i>, <i>Карл Шмитт</i>, 
                            <i>Галилей</i>, <i>Ирвинг Гоффман</i>, <i>Зигмунд Фрейд</i>.
                        
                        </p>
                        <p>
                            Полный список извлеченных имен можно посмотреть <a href="https://github.com/ana-kuznetsova/Popular-Science-Texts-Compling-research/blob/master/ner_markup/ner_corpora_extracted.txt">здесь</a>.
                        </p>
                        <h3><b>Анализ текстовой близости</b></h3>
                        <p>Оценка близости текстов, относящихся к различным рубрикам. Научно-популярные порталы по-разному делят свои материалы по
                            принадлежности к какой-либо области знания; мы попытались разработать
                            универсальную рубрикацию и сверить тематическую близость текстов,
                            отнесенных к различным темам. 
                        </p>
                        <p>
                            Автоматические методы  анализа близости текстов различных тематик 
                            (text similarity, кластеризация, тематическое моделирование) связывают
                            между собой как тексты из близких областей (<i>Физика</i>, <i>Технологии</i>, <i>Космос</i>), так и
                            тексты, относящиеся к не связанным на первый взгляд областям (<i>Биология</i>, <i>История</i>).
                            Такой результат может быть вызван тем, что в научно-популярном жанре часто
                            освещаются явления на стыке наук. Однако полученные выводы о взаимосвязях тем
                            могут послужить основой для разработки уточненной классификации
                            научно-популярных текстов с учетом пересечения различных областей науки и
                            выделения отдельных направлений внутри некоторых областей.
                        </p>
                        <p>
                            В результате анализа был построен граф взаимосвязи рубрик на основе текстовой близости:
                        </p>
                        <div>
                            <img src="/static/img/weighted_graph.png" alt="Граф взаимосвязи рубрик">
                        </div>


                        <h3><b>Оценка уровня сложности текста (ридабилити)</b></h3>
                            <p>Научно-популярные тексты бывают очень
                                разными по уровню сложности: некоторые из них понятны и людям, не
                                окончившим школу, а другие требуют специального образования в данной
                                области. Нам было интересно понять, насколько различаются по сложности
                                научно-популярные тексты и разработать способ их классификации по уровням
                                сложности.
                            </p>
                            <p>
                                Анализ показал, что большинство научно-популярных текстов отличаются
                                достаточно высоким уровнем сложности, и гипотеза о том, что такие тексты в
                                целом выходят за рамки школьной программы, подтверждается показаниями индексов
                                ридабилити и долей наиболее распространенных слов. Метрики ридабилити опираются
                                на разные количественные признаки, но каждый из использованных индексов
                                показал, что научно-популярные тексты относятся к “сложным”.
                            </p>
                        


                            <h2>Описание корпуса</h2>
                            <p>Корпус представляет собой собрание из <b>30 000</b> текстов с известных  научно-популярных ресурсов:
                                <ul>
                                        <li>N+1</li>
                                        <li>ПостНаука</li>
                                        <li>Чердак</li>
                                        <li>GeekTimes (раздел Habr'a)</li>
                                        <li>Полит.ру</li>
                                        <li>Индикатор</li>
                                </ul></p>
                            
                            <p>Статьи принадлежат разным жанрам: новости, лонгриды, экспертные интервью, блоги, лекции, отрывки из книг, переводы и синопсисы статей зарубежных журналов, таких как <em>Science</em> и <em>Nature</em>. Корпус находится в свободном доступе.</p>

                            <a href="https://yadi.sk/d/kF8t-PTCvdzKTA" class="btn btn-primary active btn-lg">Скачать корпус</a>    
                            
                            <p>Репозиторий проекта доступен по 
                                    <a href="https://github.com/ana-kuznetsova/Popular-Science-Texts-Compling-research/">ссылке</a>.
                            </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <footer>
                            <small class="d-block mb-3 text-muted">&copy; 2018 <a href="https://linghub.ru/">HSE School of Linguistics</a></small>        
                        </footer>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
</body>
<script src="{% static "node_modules/jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "node_modules/bootstrap/dist/js/bootstrap.min.js" %}"></script>
<!--<script src="{% static "main.js" %}"></script>-->
</html>
